# Python Cache files
__pycache__/
*.pyc
*.pyo
*.pyd
.ipynb_checkpoints

# Python Virtual Environments
.venv/
venv/
env/
ENV/

# OS-specific files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Testing and linting caches
.pytest_cache/
.ruff_cache/
.coverage
htmlcov/

# Editor/IDE configs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
